body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    color: #d82969;
    font-family: 'Lucida Sans';
  }
  
  input[type="text"] {
    padding: 10px;
    width: 250px;
    font-size: 16px;
    border: 1px solid #ff9696;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #9e0057;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

h1 {
  color: #333;
  font-family: 'Lucidas Sans';
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #a40091;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #c703aa;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #9c0473;
}

#mensagem {
  margin-top: 20px;
  font-size: 18px;
  color: #2c3e50;
  font-family: 'Lucidas Sans';
}